/*
 * The variables and mixins from here are available globally to all components.
 * This is achieved via custom settings in ~/build/utils.js
 */

$menu-color: #abb;
$error-color: #ff5555;

$boo: red;
